.classChat{
    padding: 5px;
    box-shadow: 5px 5px 9px #cccccc;
    user-select: none;
    z-index: 11;
}

.beFocus{
    position: relative;
    border: solid black 1px;
}

.beFocus::after,.beFocus::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 2px;
    position: absolute;
}

.beFocus::before{
    top: -5px;
    left: -5px;
    border-top: solid black 2px;
    border-left: solid black 2px;
}

.beFocus::after{
    right: -5px;
    bottom: -5px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
}

.chatTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    height: 21px;
    margin: 5px;
    user-select: none;
}

.classModifier{
    color: coral;
    white-space: nowrap;
    user-select: none;
}

.classModifier-main{
    color: #cc0202;
    white-space: nowrap;
    user-select: none;
}

.classModifier-inner{
    color: #6e2828;
    white-space: nowrap;
    user-select: none;
}

.className{
    text-indent: 4em;
    user-select: none;

}

.classExtends{
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    user-select: none;
}

.classInterface{
    user-select: none;
}

.classMethods{
    user-select: none;
}

.methodBean{
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid #fff 1px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
    /*font-size: larger;*/
}

.classConstructor{
    user-select: none;
    white-space: nowrap;
    /*font-size: smaller;*/
    font-family: 宋体;
}

.classMethod{
    user-select: none;
    font-family: 宋体;
    white-space: nowrap;
    /*font-size: smaller;*/
}

.detailedClassDiagram{
    width: 600px;
    height: auto;
    max-height: 800px;
    overflow-y: scroll;
    /*border: solid black 1px;*/
    background-color: #fafafa;
    position: absolute;
    left: calc((100vw - 600px)/2);
    top: 20vh;
    z-index: 999;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailedClassDiagram::-webkit-scrollbar{
    display: none;
}

#detailedClassDiagramHead{
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 3px 3px 0 0;
    /*border-bottom: solid black 1px;*/
    background-color: #dadada;
    box-shadow: 0 3px 3px #cccccc;
}

#detailedClassDiagramTitle{
    font-size: 27px;
    user-select: none;
}

.hideBtn{
    width:25px;
    height: 25px;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hideBtn:hover{
    color: #ffffff;
    background-color: #cc0202;
}

.labelBar{
    background-color: #dadada;
    box-shadow: 0 3px 3px #cccccc;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#variables{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

.codeLine{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.codeLineText{
    width: calc(100% - 30px);
    height: 20px;
    font-family: 宋体;
    padding-left: 20px;
    white-space: pre;
}

.codeLineIndex{
    color: gray;
    width: 30px;
    height: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#constrs{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    /*overflow: hidden;*/
}

#methods{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

#innerClasses{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

.keyLine{
    background-color: #f1c8a7;
}

/*阻止滚动*/
.disable-scrollbar{
    /*scrollbar-width: none;*/
    overflow: hidden;
}

/*折叠 展开*/
.fold{
    height: 0;
    transition: all 0.2s;
    overflow: hidden;
}

.unfold{
    height: auto;
    transition: all 0.4s;
}

/*图例相关*/
.legend{
    width: 200px;
    height: 450px;
    position: absolute;
    top: 30vh;
    left: 0;
    overflow-x: hidden;
    /*background-color: white;*/
    background-color: rgb(166, 112, 95);

    z-index: 999;
    box-shadow:3px 3px 3px #cccccc;
    display: flex;
    flex-direction: column;
}

.legend-head{
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 4px;
    font-family: 宋体;
    font-size: smaller;
    padding: 4px;
    /*background-color: rgb(255, 236, 180);*/
    background: linear-gradient(135deg, rgb(255, 205, 113),rgb(255, 236, 180));
    box-shadow: 0px 2px 2px #cccccc;
}

.legend-head::before{
    /*content: "";*/
    /*width: 100%;*/
    /*height: 5px;*/
    /*position: absolute;*/
    /*top: -6px;*/
    /*box-shadow: 0px 1px 1px #444444;*/
    /*border-bottom: solid #444444 1px;*/
    /*background-color: rgb(166, 112, 95);*/
}

.navigator{
    width: 100%;
    height: auto;
    background:linear-gradient(135deg, rgb(239, 212, 162), rgb(253, 238, 208));
    margin-bottom: 3px;
    user-select: none;
    box-shadow: 0px 2px 2px #e3b18d;
    font-family: 宋体;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    color: #444444;
    cursor: pointer;
}

.navigator-chose{
    background: linear-gradient(135deg, rgb(255, 170, 144), rgb(255, 223, 157));
}

/*用于显示和隐藏的两个类*/
.hidden{
    display: none;
}
.visible{
    display: block;
}
.top{
    z-index: 99;
}

/*防遮挡*/
.anti-blocking{
    opacity: 20%;
}